.BookForm {
  width: 40%;
  background-color: var(--nice-red);
  margin-left: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 0px var(--text-box-secondary);
}

.bookFormTitle {
  font-size: 50px;
  font-family: var(--label-font);
  font-weight: bold;
  color: var(--heading-primary);
  text-shadow: 3px 3px var(--nice-red-dark);
  font-variant: small-caps;
}

h1.bookFormTitle {
  margin-top: 5%;
  margin-bottom: 5%;
  text-decoration: underline;
  text-align: center;
}

h2.bookFormTitle {
  margin: 0;
  font-size: 30px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;

  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* border: 1px solid black */
}

.formContainer input:focus {
  outline: none;
  border: 3px solid var(--text-box-secondary);
}

.dateRow {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.react-datepicker-wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
  
  font-size: 20px;
}

.formContainer input {
  width: 100%;

  margin-top: 2%;
  margin-bottom: 5%;
}

.formContainer button[type="submit"] {
  background-color: white;
  border: 5px solid var(--nice-red-dark);
  margin-bottom: 50px;
  color: var(--nice-red-dark);

  border-radius: 5px;
  width: 50%;
  font-size: 40px;
  font-family: var(--label-font);
}

.react-datepicker-wrapper input {
  width: 80%;
  text-align: right;
}

.formContainer textarea {
  width: 100%;
  height: 300px;

  resize: none;
  margin-top: 2%;
  margin-bottom: 5%;
}

@media (max-width: 1060px) {
  .BookForm {
    width: 90%;
  }

  h1.bookFormTitle {
    margin-top: 10%;
    font-size: 10vw;
    line-height: 150%;
  }

  h2.bookFormTitle {
    margin-top: 4%;
    font-size: 5vw;
  }

  .dateRow {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
  }

  .dateCol {
    margin-left: 5%;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker-wrapper input {
    width: 100%;
    text-align: center;
  }

  .formContainer button[type="submit"] {
    width: 50vw;
    font-size: 6vw;
    display: block;
    text-align: center;
    line-height: 1em;
    padding: 20px;
  }
}