.BookForm {
  width: 40%;
  height: 800px;
  background-color: var(--nice-red);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookFormTitle {
  margin-top: 5%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
}

.react-datepicker-wrapper {
  background-color: red;

  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  font-size: 25px;

  text-align: center;
}

.react-datepicker-wrapper input {
  justify-self: center;
  text-align: right;
}

.bookFormTextBox {
  width: 100%;

  font-size: 25px;

}